# Database Configuration
DATABASE_NAME=fakebook
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=123456

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Application Configuration
SIGNER_KEY=your_secret_signer_key_here
USERNAME_ADMIN=admin
PASSWORD_ADMIN=admin@123
EMAIL_ADMIN=admin@gmail.com

